:root {
  --primary-color: #005a6a;
  --secundary-color: #116b7c;
  --complementary-color-1: #439fb0;
  --complementary-color-2: #328e9f;
  --complementary-color-3: #227d8d;

  --white-color: #f3f3f3;
}
.slider {
  display: flex;
  margin: auto;
  height: 450px;
  position: relative;
  max-width: 1200px;
  padding-bottom: 30px;
  margin-bottom: 120px;
}

.title-carousel {
  font-size: 25px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.carousel-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
  align-items: center;
  padding: 0px 15px;
}
.card {
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.carousel-image {
  display: flex;
  width: 100%;
  height: 200px;
}

.title-video {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
}
.text-video {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 16px;
  padding: 5px 12px;
  font-weight: 700;
}
.buttom-video {
  display: flex;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: auto;
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  color: #181818;
  transition: all ease 300ms;
}
.buttom-video:hover {
  background: var(--complementary-color-1);
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
  margin: 0px -45px;
  border-radius: 5px;
}
